.one {
  width: 100%;
  height: 700px;
}
#logo {
  width: 130px;
  height: 150px;
  border-radius: 70px;
}
nav {
  text-transform: uppercase;
  height: 150px;
  color: #07000c;
}
.home {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: c;
}
hr {
  width: 85%;
}
a:hover{
  color:white;
  background-color: indigo;
  box-shadow: 3px 3px 5px ;
}